.container.mt-4
  .jumbotron.transparent-bg
    .row
      h1 {{user.name}}'s Profile
    .row
      .col-sm-3
        .card
          img.card-img-top.img-thumbnail(src="{{user.photoUrl || '../../../assets/defaultUser.png'}}" alt="{{user.name}}")
          .card-body
            div
              strong Age:
              p {{user.age}}
            div
              strong Last Active:
              p {{user.lastLogin | timeAgo}}
            div
              strong User Since:
              p {{user.accountCreated | date:'MMMM d, y'}}
          .card-footer
            .btn-group.d-flex
              .btn.btn-primary.w-100((click)="toggleLike()")
                //- this will not work if using SVG version of Font Awesome. Need to use the FA Angular Library eventually.
                i.fa-bell([ngClass]="{'fas': isUserLiked(), 'far': !isUserLiked()}") 
                | &nbsp;Follow
              .btn.btn-success.w-100((click)="selectTab(4)")
                i.fas.fa-paper-plane
                | &nbsp;Message
      .col-sm-9
        .tab-panel
          tabset.user-tabset(#userTabset)
            tab(heading="About {{user.name}}")
              .card
                h4.card-header All About {{user.name}}!
                hr
                .card-body
                  div(*ngIf="userDesc")
                    div(*ngFor="let paragraph of userDesc")
                      p {{paragraph}}
                  div(*ngIf="!userDesc")
                    p {{user.name}} has shared nothing about themselves. How boring!!!
            tab(heading="Favorite Games")
              .card
                h4.card-header All of {{user.name}}'s Favorite Games!
                hr
                .card-body
                  div(*ngIf="user.games?.length > 0")
                    ul
                      li(*ngFor="let game of user.games") {{game.description}}
                  div(*ngIf="user.games?.length === 0")
                    p {{user.name}} has shared nothing about their favorite games. How boring!!!
            tab(heading="Favorite Game Genres")
              .card
                h4.card-header All of {{user.name}}'s Favorite Game Genres!
                hr
                .card-body
                  div(*ngIf="user.genres?.length > 0")
                    ul
                      li(*ngFor="let genre of user.genres") {{genre.description}}
                  div(*ngIf="user.genres?.length === 0")
                    p {{user.name}} has shared nothing about their favorite genres. How boring!!!
            tab(heading="Photos")
              .card
                h4.card-header All of {{user.name}}'s Photos!
                hr
                .card-body
                  div(*ngIf="user.photos?.length > 0")
                    ngx-gallery.ngx-gallery([options]="galleryOptions", [images]="galleryImages")
                  div(*ngIf="user.photos?.length === 0")
                    p {{user.name}} hasn't uploaded any pictures. Boooooo!!!
            tab(heading="Messages")
              app-user-messages([recipientId]="user.id", [recipientName]="user.name")
