.container.mt-4
  .row
    h1 {{user.name}}'s Profile
  .row
    .col-sm-3
      .card
        img.card-img-top.img-thumbnail(src="{{user.photoUrl || '../../../assets/defaultUser.png'}}" alt="{{user.name}}")
        .card-body
          div
            strong Age:
            p {{user.age}}
          div
            strong Last Active:
            p {{user.lastLogin | timeAgo}}
          div
            strong User Since:
            p {{user.accountCreated | date:'MMMM d, y'}}
        .card-footer
          .btn-group.d-flex
            .btn.btn-primary.w-100 Follow
            .btn.btn-success.w-100((click)="selectTab(4)") Message
    .col-sm-9
      .tab-panel
        tabset.user-tabset("#userTabset")
          tab(heading="About {{user.name}}")
            h4 Description
            div(*ngFor="let paragraph of userDesc")
              p {{paragraph}}
          tab(heading="Favorite Games")
            h4 Favorite Games
            ul
              li(*ngFor="let game of user.games") {{game.description}}
          tab(heading="Favorite Game Genres")
            h4 Favorite Game Genres
            ul
              li(*ngFor="let genre of user.genres") {{genre.description}}
          tab(heading="Photos")
            h4 Photos
            ngx-gallery([options]="galleryOptions", [images]="galleryImages")
          tab(heading="Messages")
            h4 Messages
            app-user-messages([recipientId]="user.id", [recipientName]="user.name")
