.card.mb-4
  .card-img-wrapper
    img.card-img-top(src="{{user.photoUrl || '../../../assets/defaultUser.png'}}", alt="{{user.name}}")
    ul.list-inline.member-icons.animate.text-center
      li.list-inline-item
        button.btn.btn-primary([routerLink]="['/users/', user.id]")
          i.fa.fa-user
      li.list-inline-item
        button.btn.btn-primary((click)="toggleLike(user.id)")
          //- this will not work if using SVG version of Font Awesome. Need to use the FA Angular Library eventually.
          i.fa-heart([ngClass]="{'fas': isUserLiked(), 'far': !isUserLiked()}")
      li.list-inline-item
        button.btn.btn-primary([routerLink]="['/users/', user.id]", [queryParams]="{tab: 4}")
          i.fa.fa-envelope
  .card-body.p-1
    h6.card-title.text-center.mb-1
      i.fa.fa-user
      | &nbsp;{{user.name}}, {{user.age}}
    .card-text.text-muted.text-center Last Active:
    p.card-text.text-muted.text-center {{user.lastLogin | timeAgo}}
    .card-text.text-muted.text-center Gender:
    p.card-text.text-muted.text-center {{user.gender}}
