.container.mt-5
  div(*ngIf="!registerMode" style='text-align: center')
    h1 Become the Expert Tactician people need.
    p.lead Learn all you need to know to be the best... All you need to do is sign up!
    .text-center
      button.btn.btn-primary.btn-lg.mr-2((click)="registerToggle();") Register
      button.btn.btn-info.btn-lg Learn more
  .container(*ngIf="registerMode")
    .row.justify-content-center
      .col-4
        app-register([gamesFromHome]="games", (cancelRegister)="cancelRegisterMode($event)")
