.sidenav-container
  #mySidenav.sidenav.bg-primary.navbar-dark
    a.closebtn(href="javascript:void(0)", (click)="closeNav()") ×
    ul.navbar-nav.pl-3 
      h5.text-center Fire Emblem Series Games (WIP)
      li.nav-item(routerLinkActive="active")
        a.nav-link.pl-5([routerLink]="['games/FE1']") Fire Emblem 1
      li.nav-item(routerLinkActive="active")
        a.nav-link.pl-5([routerLink]="['games/FE2']") Fire Emblem 2
      li.nav-item(routerLinkActive="active")
        a.nav-link.pl-5([routerLink]="['games/FE3']") Fire Emblem 3
      li.nav-item(routerLinkActive="active")
        a.nav-link.pl-5([routerLink]="['games/FE4']") Fire Emblem 4
      li.nav-item(routerLinkActive="active")
        a.nav-link.pl-5([routerLink]="['games/FE5']") Fire Emblem 5
      li.nav-item(routerLinkActive="active")
        a.nav-link.pl-5([routerLink]="['games/FE6']") Fire Emblem 6
      li.nav-item(routerLinkActive="active")
        a.nav-link.pl-5([routerLink]="['games/FE7']") Fire Emblem 7
      li.nav-item(routerLinkActive="active")
        a.nav-link.pl-5([routerLink]="['games/FE8']") Fire Emblem 8
      li.nav-item(routerLinkActive="active")
        a.nav-link.pl-5([routerLink]="['games/FE9']") Fire Emblem 9
      li.nav-item(routerLinkActive="active")
        a.nav-link.pl-5([routerLink]="['games/FE10']") Fire Emblem 10
      li.nav-item(routerLinkActive="active")
        a.nav-link.pl-5([routerLink]="['games/FE11']") Fire Emblem 11
      li.nav-item(routerLinkActive="active")
        a.nav-link.pl-5([routerLink]="['games/FE12']") Fire Emblem 12
      li.nav-item(routerLinkActive="active")
        a.nav-link.pl-5([routerLink]="['games/FE13']") Fire Emblem 13
      li.nav-item(routerLinkActive="active")
        a.nav-link.pl-5([routerLink]="['games/FE14']") Fire Emblem 14
      li.nav-item(routerLinkActive="active")
        a.nav-link.pl-5([routerLink]="['games/FE15']") Fire Emblem 15
  .sidenav-button.pl-3.pt-3(, (click)="openNav()") ☰
