form([formGroup]="passwordResetForm", (ngSubmit)="changePassword();")
  h2.text-center.text-primary Password Reset
  hr
  .form-group
    input.form-control(formControlName='{{fs.email}}', type='text', placeholder='Email')
  .form-group
    input.form-control(formControlName='{{fs.username}}', type='text', placeholder='Username')
  .form-group.text-center
    button.btn.btn-success(type='submit', [disabled]="!passwordResetForm.valid") Reset Password
    button.btn.btn-default(type='button', (click)="cancel();") Cancel
