form([formGroup]="passwordResetForm", (ngSubmit)="changePassword();")
  h2.text-center.text-primary Password Reset
  hr
  .form-group
    input.form-control(formControlName='{{fs.email}}', type='text', placeholder='Email',
      [ngClass]="{'is-invalid': fgvm.email.hasErrorsAndTouched(passwordResetForm)}")
    .invalid-feedback Please enter a email.
  .form-group
    input.form-control(formControlName='{{fs.username}}', type='text', placeholder='Username', 
      [ngClass]="{'is-invalid': fgvm.username.hasErrors(passwordResetForm)}")
    .invalid-feedback Please enter a username.
  .form-group.btn-group.d-flex
    button.btn.btn-success(type='submit', [disabled]="!passwordResetForm.valid") Reset Password
    button.btn.btn-secondary(type='button', (click)="cancel();") Cancel
