.container.mt-4
  .row
    .col-sm-3
      h1 Your Profile
    .col-sm-9
      .alert.alert-info(*ngIf="editForm.dirty")
        strong Information:&nbsp;
        | You have made changes. Any unsaved changes will lost!
  .row
    .col-sm-3
      .card
        img.card-img-top.img-thumbnail(src="{{user.photoUrl}}" alt="{{user.name}}")
        .card-body
          div
            strong Age:
            p {{user.age}}
          div
            strong Last Active:
            p {{user.lastLogin | date:'MMMM d, y, h:mm:ss a'}}
          div
            strong User Since:
            p {{user.accountCreated | date:'MMMM d, y'}}
        .card-footer
            button.btn.btn-success.btn-block([disabled]="!editForm.dirty", form="editForm") Save Changes
    .col-sm-9
      .tab-panel
        tabset.user-tabset
          tab(heading="Edit Profile")
            form(#editForm="ngForm", (ngSubmit)="updateUser();", id="editForm")
              h4 Description
              textarea.form-control(name="description", rows="6", [(ngModel)]="user.description") {{user.description}}
              h4 Favorite Games (WIP)
              .form-group
                .form-check(*ngFor="let game of allGames")
                  label.form-check-label
                    input.form-check-input(type="checkbox", name="games", [(ngModel)]="game.selected")
                    | {{game.description}}
                button.btn.btn-primary Add New Game
              h4 Favorite Game Genres (WIP)
              .form-group
                .form-check(*ngFor="let genre of allGenres")
                  label.form-check-label
                    input.form-check-input(type="checkbox", name="genres", [(ngModel)]="genre.selected")
                    | {{genre.description}}
          tab(heading="Edit Photos")
            app-photo-editor([photos]="user.photos", (getUserPhotoChange)="updateMainPhoto($event)")
