nav.navbar.navbar-expand-md.navbar-dark.bg-primary
  .container
    a.navbar-brand([routerLink]="['/home']") FE Website
    ul.navbar-nav.mr-auto(*ngIf="loggedIn();")
      li.nav-item(routerLinkActive="active")
        a.nav-link([routerLink]="['/users']") Users 
          span.sr-only (current)
      li.nav-item(routerLinkActive="active")
        a.nav-link([routerLink]="['/media']") Media
      li.nav-item(routerLinkActive="active")
        a.nav-link([routerLink]="['/messages']") Messages
      li.nav-item.dropdown(dropdown, routerLinkActive="active")
        a.nav-link.dropdown-toggle(dropdownToggle) Games
        .dropdown-menu('*dropdownMenu')
          div(*ngFor="let num of nums")
            a.nav-link.dropdown-item([routerLink]="['games/FE' + num]") FE{{num}}
            .dropdown-divider
    button.btn.btn-primary.dropdown(*ngIf="loggedIn();", 'dropdown')
      a.dropdown-toggle(dropdownToggle) Welcome {{authService.decodedToken?.unique_name | titlecase}}&nbsp;
      .dropdown-menu.mt-4('*dropdownMenu')
        a.dropdown-item(href='#')
          i.fa.fa-user &nbsp;Edit Profile
        .dropdown-divider
        a.dropdown-item((click)="logout();")
          i.fa.fa-sign-out &nbsp;Logout
    form.form-inline.my-2.my-lg-0(*ngIf="!loggedIn();" #loginForm="ngForm", (ngSubmit)="login();")
      input.form-control.mr-sm-2(required type='text' name='username' placeholder='Username', [(ngModel)]="loginCredentials.username")
      input.form-control.mr-sm-2(required type='password' name='password' placeholder='Password', [(ngModel)]="loginCredentials.password")
      button.btn.btn-primary.my-2.my-sm-0(type='submit', [disabled]="!loginForm.valid") Login
