form([formGroup]="registerForm", (ngSubmit)="register();")
  h2.text-center.text-primary Sign Up (Reactive)
  hr
  .form-group
    input.form-control(formControlName='name', type='text', placeholder='Nickname')
  .form-group
    textarea.form-control(formControlName='description', type='text', cols="30", rows="10", placeholder='Your story...')
  .form-group
    label(for="gender") What is your gender?
    select.form-control(formControlName='gender', id="gender")
      option(*ngFor="let gender of listOfGenders", [value]="gender.id") {{gender.description}}
  .form-group
    input.form-control(formControlName='username', type='text', placeholder='Username')
  .form-group
    input.form-control(formControlName='password', type='password', placeholder='Password')
  .form-group
    input.form-control(formControlName='confirmPassword', type='password', placeholder='Confirm Password')
  .form-group.text-center
    button.btn.btn-success(type='submit') Register
    button.btn.btn-default(type='button', (click)="cancel();") Cancel

p Form Value: {{registerForm.value | json}}
p Form Status: {{registerForm.status | json}}
