form(#registerForm="ngForm", (ngSubmit)="register();")
  h2.text-center.text-primary Sign Up (Reactive)
  hr
  .form-group
    input.form-control([(ngModel)]="userModel.name", required name='name', type='text', placeholder='Nickname')
  .form-group
    textarea.form-control([(ngModel)]="userModel.description", cols="30", rows="10", name='name', type='text', placeholder='Your story...')
  .form-group
    label(for="gender") What is your gender?
    select.form-control([(ngModel)]="userModel.gender", required, name='gender', id="gender")
      option(*ngFor="let gender of listOfGenders", [value]="gender.id") {{gender.description}}
  .form-group
    input.form-control([(ngModel)]="userModel.username", required, name='username', type='text', placeholder='Username')
  .form-group
    input.form-control([(ngModel)]="userModel.password", required, name='password', type='password', placeholder='Password')
  .form-group.text-center
    button.btn.btn-success(type='submit') Register
    button.btn.btn-default(type='button', (click)="cancel();") Cancel
