img.img-thumbnail {
    height: 100px;
    min-width: 100px !important;
}

.photo-buttons {
    font-size: x-small;
    margin-top: 3px;
    margin-bottom: 6px;
}

label.file-upload-btn {
    input[type=file] {
        display: none;
    }
}
